<div class="login-box">
    <h2>Bienvenido</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- contenedor input -->
      <div class="user-box" [ngClass]="{'user-box-err':loginForm.get('email')?.touched && loginForm.get('email')?.invalid}">
        <input type="text" formControlName="email">
        <label >Username</label>
        <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" class="form-err">
          <div *ngIf="loginForm.get('email')?.hasError('required')" >Email es requerido.</div>
          <div *ngIf="loginForm.get('email')?.hasError('email')">Requiere formato de email ex: ejemplo@pookyzat.com</div>
        </div>
      </div>
      <!-- contenedor input -->
      <div class="user-box" [ngClass]="{'user-box-err':loginForm.get('email')?.touched && loginForm.get('email')?.invalid}">
        <input type="password" id="password" formControlName="password">
        <label>Password</label>
        <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="form-err">
          <div *ngIf="loginForm.get('password')?.hasError('required')">Contraseña es requerida.</div>
        </div>
      </div>
      
      
      <button type="submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        login
      </button>
    </form>
</div>
